.own-message {
    border: 2px solid #dedede;
    background-color: #c3c3cc;
    border-radius: 5px;
    margin-top: 10px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    left: 0;
    padding: 12px;
}

.message-text {
    color: #000;
    font-style: italic;
}

.message-time {
    color: rgb(22, 21, 21);
    margin-right: 10px;
}


    

